<template>
	<div>
		<div class="img-header">
			<div class="text-image">
				<div class="container">
					<div style="color: white;" class="ml-auto">
						<h1>Tentang Kami</h1>
						<span>
							Mengenai web blog ini. Section belum diisi.
						</span><br>
					</div>
				</div>
			</div>
		</div>
		<div class="tentang-kami-galeri">
			<div style="padding: 0px;">
				<div class="row">
					<div class="col-md-4" style="padding: 0px;">
						<img src="../../img/img8.jpg" style="height: 50vh; width: 100%;">
						<div class="padding-text-galeri">
							<h3>Tentang 1</h3>
							<div class="span-story">
								<span>Isi dari tentang 1 mengenai ini 1.</span>
							</div>
						</div>
					</div>
					<div class="col-md-4" style="padding: 0px;">
						<img src="../../img/img12.jpg" style="height: 50vh; width: 100%;">
						<div class="padding-text-galeri">
							<h3>Tentang 2</h3>
							<div class="span-story">
								<span>Isi dari tentang 2 mengenai ini 2.</span>
							</div>
						</div>
					</div>
					<div class="col-md-4" style="padding: 0px;">
						<img src="../../img/img13.jpg" style="height: 50vh; width: 100%;">
						<div class="padding-text-galeri">
							<h3>Tentang 3</h3>
							<div class="span-story">
								<span>Isi dari tentang 3 mengenai ini 3.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12" style="height: 50px; background: rgb(60, 40, 90);">
			<h5 align="center" style="color: white; padding: 5px;">Copyright by EdnoPKL2018 &copy;</h5>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'about', 
	}
</script>