<template>
	<div>

		<div class="galeri-all">
			<div class="container">
				<div class="row">

					<div class="col-md-4 p-2" v-for="article in articles">
						<div class="galery card shadow-sm">
							<div class="card-header" style="background: #563d7c; color: white;">{{ article.title }}</div>
							<div class="card-body card-body-padding">
								<div class="card-body card-padding">
									<span style="color: #868e96;">Artikel</span><br>
									<h5 style="font-size: 1.25rem;"></h5>
									<span class="card-span font-body" style="height: 50px;" v-html="article.articles"></span>
									<router-link :to="{ name: 'readmore', params: { id: strReplace(article.title) }}" style="line-height: 2; color">Read More -></router-link>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12" style="height: 55px; background: rgb(60, 40, 90); margin-top: 5cm;">
			<h5 align="center" style="color: white; padding: 5px;">Copyright by EdnoPKL2018 &copy;</h5>
		</div>
	</div>
</template>
<script>
export default {
  data(){
    return {
      articles:'',
      html:false
    }

  },
    mounted: function mounted(){
    this.getVueItems();
  },

  methods:{
    getVueItems() {
      var _this = this;

      axios.get('/articlevue').then(function (response) {
        _this.articles = response.data;
      });
    },
    strReplace(title){
    	title = title.split(' ').join('-');
    	return title;

    },
  },
}
</script>

