<template>
	<div>

		<div class="galeri-all">
			<div class="container">
				<div class="row">
					<div class="col-md-9 text-center">
						<div class="card">
							<div class="card-header" style="background: #563d7c; color: white;">
								<a href="/#/articles" class="mt-1 btn btn-secondary" style="float: left;">Back</a>
								<h3 class="card-title">{{ articles.title }}</h3>
							</div>
							<div class="card-body">
								<p class="card-text" v-html="articles.articles"></p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card card-user text-center">
							<div class="content">
								<div class="author text-center">
									<a href="#">
										<img class="rounded-circle" :src="`${image}`" alt="..."style="width:50%;height:150px;">
									</a>
									<hr>
										<h4 class="title">{{ user.name }}<br/></h4>
									<h5>"{{ user.about }}"</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 footer">

		</div>
	</div>
</template>
<script>
export default {
	data(){
		return {
			articles:'',
			user:'',
			image: '',
			html:false
		}

	},
	mounted: function mounted(){
		this.getVueItems();
	},

	methods:{

		getVueItems() {
			var _this = this;

			axios.get('/articlevueread/'+ this.$route.params.id).then(function (response) {
				_this.articles = response.data.read;
				_this.user = response.data.user;
				_this.image = response.data.image;
			});
		},
	},
}

</script>