<template>
	<div>
		<div class="img-header">
			<div class="text-image">
				<div class="container">
					<div style="color: white;" class="ml-auto">
						<h1>Edno Blog</h1>
						<span>
							Edno Blog merupakan kreasi dari kakak-kakak yang ber-Prakerin di Instansi Ednovate Group Cianjur.
						</span><br>
						<a href="/loginPage"><span class="btn btnn">Login & Register</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 tentang_kami">
			<div class="container">
				<h3>Apa itu Edno Blog?</h3>
				<small>Edno blog adalah web yang berjenis Blog berisi artikel yang bertujuan untuk berbagi pengetahuan, ide atau pengalaman penulis. Tujuan dari blog ini adalah untuk berbagi pengetahuan yang berhubungan dengan web hosting, internet marketing dan hal lainnya.</small>
			</div>
		</div>
		<div>
			<div class="row">
				<div class="col-md-6 boots" style="padding-top: 40px;">
					<div class="keuntungan-text">
						<div style="text-align:center;">
							<h2 style="line-height: 2;">Banyak yang Kalian Dapatkan di Blog ini</h2>
							<span>
								Ini adalah Bagian Promosi, dimana kita mempromosikan website kita ini. section ini belum diisi.
							</span>
						</div>
						<div class="flex">
							<div class="col-md-6">
								<div>
									<div class="list-lorem">
										<div class="flex">
											<div>
												<span class="fa fa-bath"></span>
											</div>
											<div class="bad-icon">
												<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua.</small>
											</div>
										</div>
									</div>
									<div class="list-lorem">
										<div class="flex">
											<div>
												<span class="fa fa-bath"></span>
											</div>
											<div class="bad-icon">
												<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua.</small>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div>
									<div class="list-lorem">
										<div class="flex">
											<div>
												<span class="fa fa-bath"></span>
											</div>
											<div class="bad-icon">
												<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua.</small>
											</div>
										</div>
									</div>
									<div class="list-lorem">
										<div class="flex">
											<div>
												<span class="fa fa-bath"></span>
											</div>
											<div class="bad-icon">
												<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua.</small>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 bad-padding">
					<div class="list-keuntungan">
						<div class="container">
							<div>
								<div class="row">
									<div style="height: 75px; width: 75px; border-radius: 100%; background: transparent; padding-top: 22px; border: 2px solid white; text-align:center;">
										<span class="fa fa-check" style="font-size: 30px;"></span>
									</div>
									<div style="padding-left: 20px; text-align: left;" class="col-md-10">
										<h5>Materi Gratis</h5>
										<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="list-keuntungan">
						<div class="container">
							<div>
								<div class="row">
									<div style="height: 75px; width: 75px; border-radius: 100%; background: transparent; padding-top: 22px; border: 2px solid white; text-align:center;">
										<span class="fa fa-check" style="font-size: 30px;"></span>
									</div>
									<div style="padding-left: 20px; text-align: left;" class="col-md-10">
										<h5>Materi Gratis</h5>
										<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="list-keuntungan">
						<div class="container">
							<div>
								<div class="row">
									<div style="height: 75px; width: 75px; border-radius: 100%; background: transparent; padding-top: 22px; border: 2px solid white; text-align:center;">
										<span class="fa fa-check" style="font-size: 30px;"></span>
									</div>
									<div style="padding-left: 20px; text-align: left;" class="col-md-10">
										<h5>Materi Gratis</h5>
										<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="list-keuntungan">
						<div class="container">
							<div>
								<div class="row">
									<div style="height: 75px; width: 75px; border-radius: 100%; background: transparent; padding-top: 22px; border: 2px solid white; text-align:center;">
										<span class="fa fa-check" style="font-size: 30px;"></span>
									</div>
									<div style="padding-left: 20px; text-align: left;" class="col-md-10">
										<h5>Materi Gratis</h5>
										<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 galeri padding-vertikal">
			<div class="container">
				<div>
					<h2 style="color: inherit;">Artikel Terbaru</h2>
					<small style="color: inherit;">Artikel-artikel terbaru tulisan dari para member</small>
				</div><br>
				<div class="row">
					<div class="col-md-4 p-2" v-for="article in articles">
						<div class="galery card shadow">
							<div class="card-header" style="background: rgb(60, 40, 90); color: white;">{{ article.title }}</div>
							<div class="card-body card-body-padding">
								<div class="card-body card-padding">
									<span style="color: #868e96;">Artikel</span><br>
									<span class="card-span font-body" style="height: 50px;" v-html="article.articles"></span>
									<router-link :to="{ name: 'readmore', params: { id: strReplace(article.title) }}" style="line-height: 2; color">Read More -></router-link>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 padding-hubungi" style="height: 100vh; background: rgb(86, 61, 124); text-align: center;">
			<h2>Hubungi Kami</h2>
			<form>
				<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
					<input type="text" name="" class="form-control input-hubungi col-md-4"><br>
					<input type="text" name="" class="form-control input-hubungi col-md-4"><br>
					<textarea class="form-control col-md-6 input-hubungi" id="exampleFormControlTextarea1" rows="5"></textarea><br><br>
					<button class="btn col-md-4" style="color: white;">Submit</button>
				</div>
			</form>
		</div>
		<div class="col-md-12" style="height: 50px; background: rgb(60, 40, 90);">
			<h5 align="center" style="color: white; padding: 5px;">Copyright by EdnoPKL2018 &copy;</h5>
		</div>
	</div>
</template>
<script>
export default {
  data(){
    return {
      articles:'',  
      html:false,
      url : '/articlevuewelcome',
      pagination: []
    }

  },
    mounted: function mounted(){
    this.getVueItems();
  },
  methods:{
    getVueItems() {
      var _this = this;

      let $this = this
      axios.get(this.url).then(function (response) {
        _this.articles = response.data.data

        $this.pagination(response.data)
      });
    },
     strReplace(title){
    	title = title.split(' ').join('-');
    	return title;

    },
    makepagination(data) {
    	let pagination = {
    		current_page :data.current_page,
    		last_page: data.last.page,
    		next_page_url: data.next_page_url,
    		prev_page_url: data.prev_page_url
    	}

    	this.pagination = pagination
    },
  },
}
</script>