
#card{
	height: 400px;
	position: relative;
}
#article{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	overflow-wrap: normal;
}
h3{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.footer{
	position: relative;
	overflow-wrap: normal;


}
#icon i{
        font-size: 20px;
    }
#icon2 i{
	font-size: 25px;
}
#spanIcon{
	font-size: 20px;
}


#title{
	height: 70px;
	overflow: normal;
	text-overflow: ellipsis;
}