body{
	background: #f1f1f1;
	margin: auto;
	overflow-x: hidden;
}
.navbar-default{
	background: rgba(255, 255, 255, 0.96);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.ul-header a{
	color: #9A9A9A;
	font-weight: 400;
	line-height: normal;
}
.ul-header a:hover{
	color: #007bff;
	text-decoration: none;
}
.p-r-xl{
	padding-right: 1em;
	padding-left: 1em;
}
.p-l-xl{
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	font-size: 17px;
}
.btn-purple{
	background: #563d7c;
}
.btn-color-white{
	color: white;
}
.galery img{
	height: 225px;
	width: 100%;
	display: block;
}
.galery{
	padding: 0px;
	border: rgb(60, 40, 90);
}
.card-padding{
	padding-top: 0px;
}
.card-span{
	text-overflow: ellipsis; 
	display: block;
	overflow: hidden; 
	height: 120px;
}
.card-body-padding{
	padding-left: 5px; 
	padding-top: 25px; 
	padding-bottom: 20px; 
	padding-right: 5px;
}
.font-body{
	font-family: "Raleway", sans-serif;
}
.nav-menu{
	border-radius: 0px;
	position: absolute;
	position: fixed;
	z-index: 1000;
}
.nav-menu a{
	color: rgb(86, 61, 124);
	text-decoration: none;
	padding-top:3px;
	padding-right:20px;
	padding-left: 20px;
	padding-bottom: 3px;
	display: inline-block;
	margin-top: 12px;
	font-weight: 500;
}
.nav-menu a:hover{
	border-radius: .22rem;
	background: rgb(86, 61, 124);
	color: white;
	transition: 0.5s;
}
.mm img{
	float: left;
	height: 100vh;
	width: 100%;
}
.text-image{
	position: absolute;
	z-index: 2;
	top: 35%;
	width: 100%;
}
.text-image h1{
	line-height: 2;
}
.tentang_kami{
	padding-top: 70px;
	padding-left: 20px;
	padding-bottom: 70px;
	padding-right: 20px;
	clear: both;
	background: white;
}
.tentang_kami small{
	font-size: 15px;
}
.keuntungan-text{
	padding-top: 0px;
	padding-left: 49px !important;
	padding-bottom: 0px;
	padding-right: 20px !important;
}
.galeri{
	background: white;
}
.padding-vertikal{
	padding-top: 50px !important;
	padding-left: 0px;
	padding-bottom: 50px !important;
	padding-right: 0px;
}
.btnn{
	background: rgb(60, 40, 90);
	margin-top: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 100px;
	color: white;
}
.padding-hubungi{
	padding-right: 0px;
	padding-top: 70px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.padding-hubungi h2{
	color: white;
	line-height: 2;
}
.input-hubungi{
	box-shadow: 0px 0px 10px 1px #392f48;
}
.padding-hubungi button{
	background: rgb(60, 40, 90);
}
.galeri h2{
	color: white;
}
.galeri small{
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
}
.list-keuntungan{
	height: 25vh;
	background: rgb(68, 68, 78);
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	color: white;
}
.list-keuntungan:hover{
	background: rgb(86, 61, 124);
	color: white;
	transition: 0.2s;
}
.span-story{
	padding-right: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 50px;
}
.tentang-kami-galeri{
	padding-bottom: 50px;
	background: white;
	text-align: center;
}
.padding-text-galeri h3{
	line-height: 2;
}
.img-header{
	height: 100vh;
	background: rgb(86, 61, 124);
}
.list-lorem span{
	font-size: 50px;
}
.list-lorem .flex{
	display: flex;
}
.flex{
	display: flex;
	padding-top: 30px;
}
.bad-icon{
	padding-left: 20px;
}
