body{

}
.nav-menu-2{
	border-radius: 0px;
	position: fixed;
	z-index: 1000;
}
.nav-menu-2 a{
	color: rgb(86, 61, 124);
	text-decoration: none;
	padding-top:3px;
	padding-right:20px;
	padding-left: 20px;
	padding-bottom: 3px;
	display: inline-block;
	margin-top: 12px;
	font-weight: 500;
}
.nav-menu-2 a:hover{
	border-radius: .22rem;
	background: rgb(86, 61, 124);
	color: white;
	transition: 0.5s;
}
.footer{
	height: 15vh;
	background: rgb(60, 40, 90);
}
.galeri-all{
	padding-top: 100px;
	padding-bottom: 40px;
}
.boots{
	background: rgb(86, 61, 124);
	color: white;
}
.bad-padding{
	padding-left: 0px;
}