
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~summernote/dist/summernote-bs4.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.04);
}


